
.invert {
    background: #1f1f1f;
    color: #dcdccc;
  }
  
  .invert h2, .invert h3 {
    color: #7f9f7f;
  }
  
  .string, .regexp {
    color: #f39;
  }
  
  .keyword {
    color: #00c;
  }
  
  .comment {
    color: #777;
    font-style: oblique;
  }
  
  .number {
    color: #369;
  }
  
  .class, .special {
    color: #1181B8;
  }
  
  body > svg {
    position: absolute;
    top: -80px;
    left: -160px;
  }
  
  
  text {
    font-size: 11px;
    pointer-events: none;
  }
  
  text.parent {
    fill: #1f77b4;
  }
  
  circle {
    fill: #ccc;
    stroke: #999;
    pointer-events: all;
  }
  
  circle.parent {
    fill: #1f77b4;
    fill-opacity: .1;
    stroke: steelblue;
  }
  
  circle.parent:hover {
    stroke: #ff7f0e;
    stroke-width: .5px;
  }
  
  circle.child {
    pointer-events: none;
  }
  
  .root{
    width: 100%;
    height: 100%;
  }